<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="order1" class="com.laoliu.spring5.order.Orders" init-method="initMethod" destroy-method="destroyMethod">
        <property name="order" value="phone"></property>
    </bean>
<!--    配置后置处理器-->
    <bean id="orderplus" class="com.laoliu.spring5.order.OrdersPlus"></bean>
</beans>