<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="stu" class="com.laoliu.spring5.collectiontype.Stu">
        <property name="courses">
            <array>
                <value>java</value>
                <value>数据库</value>
            </array>
        </property>
        <property name="list">
            <list>
                <value>张三</value>
                <value>小三</value>
            </list>
        </property>
        <property name="maps">
            <map>
                <entry key="Java" value="java"></entry>
                <entry key="Php" value="php"></entry>
            </map>
        </property>
        <property name="sets">
            <set>
                <value>MySQL</value>
                <value>Redis</value>
            </set>
        </property>
        <property name="courseList">
            <list>
                <ref bean="courser1"></ref>
                <ref bean="courser2"></ref>
            </list>
        </property>
    </bean>

    <bean id="courser1" class="com.laoliu.spring5.collectiontype.Course">
        <property name="cname" value="java"></property>
    </bean>
    <bean id="courser2" class="com.laoliu.spring5.collectiontype.Course">
        <property name="cname" value="java"></property>
    </bean>
</beans>