<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

<!--    开启组件扫描
        1.扫描多个包,多个包使用都好隔开 <context:component-scan base-package="com.laoliu.spring5.service,com.laoliu.spring5.dao"></context:component-scan>
        2.扫描多个包的上层目录
-->
    <context:component-scan base-package="com.laoliu.spring5"></context:component-scan>

<!--    示例1
        use-default-filters="false" 表示现在不是用默认filter,自己配置filter
        context:include-filter 设置扫描哪些内容
-->
    <context:component-scan
            base-package="com.laoliu.spring5" use-default-filters="false">
<!--        只扫描包含Service注解的类-->
        <context:include-filter type="annotation"
                                expression="org.springframework.stereotype.Service"/>
    </context:component-scan>

<!--    示例2
        扫描所有类
        context:exclude-filter 设置不扫描哪些内容
-->
    <context:component-scan base-package="com.laoliu.spring5">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service"/>
    </context:component-scan>

</beans>